.button{
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: var(--branco);
    font-family: var(--fonte-principal);
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
}

.button:hover{
    background: linear-gradient(to bottom, #7a0214 0%,#8f0222 44%,#49000b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
