.telaLogin{
    color: var(--branco);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 15px;
    width: 50%;
}

.telaLogin h2{
    border: 1px solid var(--cinza);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: var(--cinza);
    border-radius: 8px;
}

.telaLogin input{
    background: none;
    border: none;
    border-bottom: 1px solid var(--cinza);
    outline: none;
    color: var(--branco);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    
}

.google {
    display: none;
    color: black;
    background: var(--branco);
    border-radius: 5px;
    margin: 10px;
    width: 50px;
}

.paragrafoRegistro {
    color: var(--branco);
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 15px;
    width: 50%;
}

.paragrafoRegistro a {
    color: var(--cor-principal);
}

.paragrafoRegistro a:hover {
    opacity: 0.8;
}