body {
    background-color: var(--preto);
    
}

.sobre-plataforma {
   color: var(--branco);
   text-align: center;
   padding-bottom: 2em;
   margin: 0 auto;
}

.texto__titulo {
    font-family: var(--fonte-principal);
    font-size: 2rem;
    font-weight: 600;
    padding: 1em;
}

.texto__paragrafo {
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 2rem;
}

.imagem__paragrafo {
    float: right;
    width: 120px;
}

.botao {
    margin: 2em 2em;
    text-decoration: none;
    border: solid 1px;
    border-radius: 10px;
    padding: 0.5em 1em
}

.botao.primario {
    border-color: var(--cor-principal);
    color: var(--cor-principal);
}

.botao.secundario {
    color: var(--branco);
    border-color: var(--cor-principal);
    background-color: var(--cor-principal) ;
}

.banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: rows;
    grid-gap: 10px;
}

.link_jogo {
    display: block;
    border-radius: 5px;
    overflow: hidden;
}
