body {
    font-family: var(--fonte-principal);
    background: linear-gradient(to bottom, rgba(29,29,29,1) 0%,rgba(14,14,14,1) 100%);
    min-height: 100vh;
}
.menu {
    display: none;
}

.sobrePlataforma {
   color: var(--branco);
   text-align: center;
   padding-bottom: 2em;
   margin: 0 auto;
}

.textoTitulo {
    font-family: var(--fonte-principal);
    font-size: 2rem;
    font-weight: 600;
    padding: 1em;
}

.textoParagrafo {
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 2rem;
}

.botao {
    margin: 2em 2em;
    text-decoration: none;
    border: solid 1px;
    border-radius: 10px;
    padding: 0.5em 1em;
}

.botao.primario {
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: var(--branco);
    border: none;
    font-size: 15px;
    cursor: pointer;
    
}

.botao.secundario {
    border-color: var(--cor-principal);
    color: var(--cor-principal);
}

.banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: rows;
    grid-gap: 10px;
    margin: 2em 2em
}

.linkJogo {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}

@media screen and (min-width: 1440px) {
    .menu {
        color: var(--branco);
        display: flex;
        position: relative;

        
    }

    .menu .sidebar {
        color: var(--branco);
        position: fixed;
        width: 200px;
        height: 100%;
        padding: 30px 0;
        background-color: rgb(58, 58, 58);
        
    }

    .menu .sidebar ul li {
        color: var(--branco);
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid rgba(63, 60, 60, 0.5);
        border-top: 1px solid rgb(37, 37, 37);
    }

    .menu .sidebar ul li img {
        color: var(--branco);
        padding-right: 5px;
        width: 30px;
    }

    .menu .sidebar ul li:hover {
        background:#424242 ;
    }

    .menu .sidebar ul li:hover a {
        color: #2b2a2a;
    }

    .menu .sidebar ul li a {
        color: var(--preto);
        display: block;
    }

    .sidebar a {
        text-decoration: none;
    }

    .textoParagrafo {
        display: flex;
        justify-content: right;
        margin-right: 5em;
    } 

    .botao.primario {
        float: center;
        margin: 20rem 0 0 15rem;
    }

    .botao.primario:hover {
        opacity: 0.5;
    }

    .botao.secundario:hover {
        opacity: 0.5;
    }

    .banner {
        display: grid;
        grid-template-columns: 2fr 2fr;
        width: 50%;
        align-items: center;
        margin: 5rem 0 0 28rem;
    }

    .title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0 0 6rem;
    }

}

@media screen and (min-width: 1920px) {
    

    .textoParagrafo {
        display: flex;
        justify-content: center;
        margin-left: 10em;
        font-size: 24px;
    } 

    .botao.primario {
        float: center;
        margin: 20rem 0 0 5rem;
    }

    .banner {
        margin: 5rem 0 0 30rem;
    }

}

