@import url(/styles/header.css);
@import url(/styles/main.css);
@import url(/styles/footer.css);
@import url(/styles/login.css);

:root {
    --branco: #ffffff;
    --preto: #000000;
    --cor-principal: #dc0000 ;
    --cor-vermelho-hover: #b31414;
    --fonte-principal: font-family: 'Josefin Sans', sans-serif font-family: 'Khand', sans-serif;
}

.principal {
    padding: 0 1.5rem;
}

.imagens-jogos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
