@import url(/styles/header.css);
@import url(/styles/main.css);
@import url(/styles/footer.css);
@import url(/styles/login.css);
@import url(/styles/valorant.css);

:root {
    --branco: #ffffff;
    --preto: #000000;
    --cor-principal: #dc0000 ;
    --cor-vermelho-hover: #b31414;
    --fonte-principal: font-family: 'Josefin Sans', sans-serif font-family: 'Khand', sans-serif;
    --cor-valorant-banner: #ff4655;
    --cor-cs-banner: #ffa500;
    --cor-rocket-banner: #1671e1;
    --cor-lol-banner: #014AA5;
}

.principal {
    padding: 1.5rem;
}

.imagens-jogos {
    display: block;
    width: 100%;
    height: auto;
}

.valorant-banner {
    background-color: var(--cor-valorant-banner) ;
}

.cs-banner {
    background-color: var(--cor-cs-banner);
}

.lol-banner {
    background-color: var(--cor-lol-banner);
}

.rocket-banner {
    background-color: var(--cor-rocket-banner);
}