@import url(/styles/header.css);
@import url(/styles/main.css);
@import url(/styles/footer.css);
@import url(/styles/login.css);
@import url(/styles/cadastro.css);
@import url(/styles/components/title.css);
@import url(/styles/components/button.css);
@import url(/styles/valorant.css);

:root {
    --branco: #ffffff;
    /*background: linear-gradient(to bottom, rgba(29,29,29,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    --preto: #000000;
    --cinza: #1d1d1d;
    --cor-principal: #a80606 ;
    --cor-vermelho-hover: #7c0606;
    --fonte-principal: font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    --cor-valorant-banner: #ff4655;
    --cor-cs-banner: #ffa500;
    --cor-rocket-banner: #1671e1;
    --cor-lol-banner: #014AA5;
}

.principal {
    padding: 1.5rem;
}

.imagensJogos {
    display: block;
    width: 100%;
    height: auto;
}

.valorantBanner {
    background-color: var(--cor-valorant-banner) ;
}

.csBanner {
    background-color: var(--cor-cs-banner);
}

.lolBanner {
    background-color: var(--cor-lol-banner);
}

.rocketBanner {
    background-color: var(--cor-rocket-banner);
}