.bodyValorant {
    background: rgba(0, 0, 0, 0.7) url(/imagem/valorantBackgroundMobile.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    font-family: var(--fonte-principal);
    color: white;


}

.bodyCS {
    background: rgba(0, 0, 0, 0.7) url(/imagem/Csbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    font-family: var(--fonte-principal);
    color: white;
}

.telaJogo {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-around;
    gap: 50px;
}


.boxValorant {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    width: 300px;
    margin: 5px 0px;

}

.logoJogo {
    width: 400px;

}

.cs {
    width: 350px;
}

.tituloJogo {
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.logoRanque {
    width: 40px;
    margin-right: 8px;
}

.logoPerfil {
    margin-right: 8px;
}

.descricaoJogo {
    font-size: 12px;
}

.cardJogo {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 300px;
    margin: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
}

.headJogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

}

.botaoJogo {
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}































