.bodyValorant{
    background:rgba(0, 0, 0, 0.7) url(/imagem/valorantBackgroundMobile.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    
}

.boxValorant {
    font-family: var(--fonte-principal);
    color: var(--branco);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 80%;
}
.logoValorant{
    width: 400px;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.logoPerfil{
    position:relative;
    top: -40px;
    float: left;
}

.boxValorant h2{
    margin: 10px;
    top: -40px;
    float: left;
    position: relative;
}